<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/angular/angular.min.js"></script>
<script src="/angular/locationListCtrl.js"></script>
<script src="/angular/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.4/js/uikit.min.js"></script>
<script src="/javascripts/validation.js"></script>
</body>
</html>
