<% include ./partials/head %>

<div class="uk-container uk-margin-left">

	<h2>Starcups</h2>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star-o"></span>
	<p>125 Heading Street, Reading, WS</p>
	<h5><strong>Opening Hours:</strong></h5>
	<div class="uk-width-medium-1-4">
		<ul class="uk-list uk-list-space uk-list-line">
			<li>Monday-Friday: 7:00am - 7:00pm</li>	
			<li>Saturday: 8:00am - 5:00pm</li>
			<li>Sunday: closed</li>
		</ul>	
	</div> <!-- /uk-width -->
	<h4>Facilities:</h4>
	<button class="uk-button"><i class="uk-icon-check uk-icon-small"></i>Hot drinks</button>
	<button class="uk-button"><i class="uk-icon-check uk-icon-small"></i>Food</button>
	<button class="uk-button"><i class="uk-icon-check uk-icon-small"></i>Premium wifi</button>
	<h3>Cutomer reviews</h3>
	<p><span>Author: Simon Holmes</span></p>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star"></span>
	<span class="uk-icon-star"></span>
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


</div> <!-- /uk-container -->

<% include ./partials/footer %>

