<div id="banner" class="uk-heading">
	<div class="uk-grid">
		<div class="uk-width-1-2">
			<h2>{{ pageHeader.title }} <small>{{ pageHeader.strapline }}</small></h2>	
		</div>	<!-- /uk-width -->
	</div>	<!-- /uk-grid -->	
	<div class="uk-grid">
		<div class="uk-width-1-6">
			<label for="filter">Filter results</label>	
			<input type="text" id="filter" name="filter" ng-model="textFilter" />
			<div class="uk-alert uk-alert-danger">{{ message }}</div>
			<ul class="uk-list uk-list-line">
				<li ng-repeat="location in data.locations | filter: textFilter">
					<h4><a href="/location/{{ locationd._id }}">{{ location.title }}</a>
						<small rating-stars rating="location.rating"></small>
					</h4>
					<p>{{ location.address }}</p>
					<p><span class="uk-badge" ng-repeat="facility in location.facilities">{{ facility }}</span></p>
				</li>
			</ul>
		</div> 	<!-- /uk-width -->	
	</div> <!-- /uk-grid -->
</div> <!-- /uk-heading -->
